@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: c.$main-background;
  background-color: c.$main-background;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 1080px;

  &.webp-true {
    background-image: url("../img/hero3.webp");
  }

  &.webp-false {
    background-image: url("../img/hero3.jpg");
  }

  @media (min-width: v.$tablet-width) and (min-height: v.$tablet-width) {
    background-size: auto 1280px;
  }
}

.container {
  max-width: 1400px;
  @include m.indent(
    $pt: 0,
    $pr: 20px,
    $pb: 0,
    $pl: 20px,
    $mt: 0,
    $mr: auto,
    $mb: 0,
    $ml: auto
  );
}

.section {
  padding-top: 88px;
}

.title {
  text-align: center;
  position: relative;
  @include m.textOpt(1.2em, 6em, 700);

  &::before {
    @include m.position($p: absolute, $t: 20px, $l: 50%, $trX: true);
    @include m.textOpt(4em, 1em, 700);
  }

  @media (min-width: v.$tablet-width) {
    @include m.textOpt(2em, 5em, 700);
  }
}

.subtitle {
  @include m.textOpt(1.1em, 4em, 700);

  @media (min-width: v.$sm-desktop-width) {
    @include m.textOpt(1.4em, 4em, 700);
  }
}

.section-subtitle {
  text-align: center;
  @include m.indent($mb: 20px);
  @include m.textOpt(0.8em, 2em, 700);

  @media (min-width: v.$tablet-width) {
    @include m.textOpt(1.4em, 4em, 700);
  }
}

.text {
  @include m.textOpt(0.8em, 1.4em, 400);

  @media (min-width: v.$sm-desktop-width) {
    @include m.textOpt(1em, 1.4em, 400);
  }
}

.date {
  @include m.textOpt(0.8em, 4em, 700);
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px c.$blue;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px c.$white;
}

a,
button {
  transition: all 0.44s linear;
}

a:hover {
  opacity: 0.8;
}

button:hover {
  background-color: c.$main-background;
}

.button {
  color: c.$white;
  background-color: c.$blue;
  border: none;
  @include m.size($w: 200px);

  &:disabled {
    opacity: 0.5;
  }
}
