@use "colors" as c;
@use "mixins" as m;

body {
  font-family: sans-serif;
  background-color: c.$main-background;
  background-image: url("../img/hero2.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

.container {
  max-width: 1400px;
  @include m.indent(
    $pt: 0,
    $pr: 20px,
    $pb: 0,
    $pl: 20px,
    $mt: 0,
    $mr: auto,
    $mb: 0,
    $ml: auto
  );
}

.title {
  text-align: center;
  @include m.textOpt(1.2em, 6em, 700);

  &::before {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include m.textOpt(4em, 1em, 700);
  }
}

.subtitle {
  @include m.textOpt(1.1em, 4em, 700);
}

.section-subtitle {
  text-align: center;
  @include m.textOpt(0.8em, 2em, 700);
}

.text {
  @include m.textOpt(0.8em, 1.4em, 400);
}

.date {
  @include m.textOpt(0.8em, 4em, 700);
}
