@use "mixins" as m;
@use "colors" as c;
@use "view" as v;

.contacts {
  background-image: url("../img/projects.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  @include m.indent($pt: 40px, $pr: 20px, $pb: 40px, $pl: 20px);

  &-title {
    color: c.$white;
    text-align: center;
    position: relative;
    @include m.textOpt(1.2em, 1em, 700);

    &::before {
      content: "C";
      color: c.$whiteOpacity;
      @include m.position($p: absolute, $t: -20px, $l: 50%, $trX: true);
      @include m.textOpt(4em, 1em, 700);

      @media (min-width: 471px) {
        top: -30px;
      }

      @media (min-width: v.$tablet-width) {
        top: 19px;
      }
    }

    @media (min-width: v.$tablet-width) {
      @include m.textOpt(2em, 5em, 700);
    }
  }

  &-form {
    text-align: center;
    @include m.indent($pt: 40px);
    @include m.flexContainer($fd: column, $ai: center, $g: 20px);

    @media (min-width: 471px) {
      @include m.indent($pt: 40px, $mr: auto, $ml: auto);
      @include m.size($w: 400px);
    }
  }

  &-field {
    background-color: transparent;
    border: 1px solid c.$white;
    color: c.$white;
    @include m.size($w: 100%);
    @include m.indent($pt: 10px, $pr: 10px, $pb: 10px, $pl: 10px);

    &--error {
      border: 1px solid c.$red;
    }

    &::placeholder {
      color: c.$white;
    }
  }

  &-btn {
    color: c.$white;
    background-color: c.$blue;
    border: none;
    width: 200px;
    @include m.indent($pt: 10px, $pr: 10px, $pb: 10px, $pl: 10px);
  }

  @media (min-width: v.$tablet-width) {
    background-size: cover;
  }
}
