@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

.features {
  background-color: c.$blue;
  color: white;

  &-title {
    &::before {
      content: "W";
      color: c.$whiteOpacity;
    }
  }

  &-list {
    text-align: center;
    @include m.flexContainer($fd: column, $ai: center);
    @include m.indent($mr: 20px, $ml: 20px);

    @media (min-width: v.$tablet-width) {
      @include m.indent($mt: 100px, $mr: 20px, $mb: 100px, $ml: 20px);
      @include m.flexContainer($fd: row, $jc: center, $g: 20px);
    }
  }

  &-item {
    @include m.indent($mt: 20px, $mb: 20px);

    @media (min-width: v.$sm-desktop-width) {
      @include m.size($w: 400px);
    }
  }

  &-img {
    background-color: c.$whiteOpacity;
    border-radius: 50%;
    @include m.size(62px, 62px);
    @include m.textOpt(2em, 1em, 700);
    @include m.indent(
      $pt: 14px,
      $pr: 14px,
      $pb: 14px,
      $pl: 14px,
      $mt: 0,
      $mr: auto,
      $mb: 10px,
      $ml: auto
    );
  }

  &-name {
    @include m.textOpt(1.2em, 1.6em, 700);

    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1.8em, 3em, 700);
    }
  }

  &-posts {
    @include m.indent($mt: 40px);
    background-color: c.$main-background;
  }
}

.posts-button {
  display: block;
  @include m.indent(
    $mt: 20px,
    $mr: auto,
    $mb: 20px,
    $ml: auto,
    $pt: 10px,
    $pr: 10px,
    $pb: 10px,
    $pl: 10px
  );
}

.post {
  &-content {
    @media (min-width: v.$tablet-width) {
      @include m.size($w: 50vw);
    }
  }

  &-date {
    @include m.textOpt(0.6em, 1em, 400);

    span:first-child {
      @include m.indent($pr: 10px);
    }

    span:last-child {
      @include m.indent($pl: 10px);
    }

    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1em, 1em, 400);
    }
  }

  &-text {
    @include m.indent($mt: 10px, $mb: 10px);
  }

  &:nth-child(2n + 1) > &-content {
    background-color: c.$main-background;
    color: c.$white;
    text-align: right;
    @include m.indent($pt: 40px, $pr: 40px, $pb: 40px, $pl: 60px);

    span:first-child {
      border-right: 1px solid c.$white;
    }

    @media (min-width: v.$tablet-width) {
      text-align: left;
    }
  }

  &:nth-child(2n) > &-content {
    background-color: c.$white;
    color: c.$main-background;
    text-align: left;
    @include m.indent($pt: 40px, $pr: 60px, $pb: 40px, $pl: 40px);

    span:first-child {
      border-right: 1px solid c.$main-background;
    }

    @media (min-width: v.$tablet-width) {
      text-align: left;
    }
  }

  &-picture {
    @include m.size(100vw, auto);

    img {
      @include m.size(100%, 100%);
    }

    @media (min-width: v.$tablet-width) {
      @include m.size($w: 50vw);
    }
  }

  @media (min-width: v.$tablet-width) {
    @include m.flexContainer();

    &:nth-child(2n + 1) {
      @include m.flexContainer($fd: row);
    }
    &:nth-child(2n) {
      @include m.flexContainer($fd: row-reverse);
    }
  }
}
