@use "colors" as c;
@use "mixins" as m;

.features {
  background-color: c.$blue;
  color: white;

  &-title {
    text-align: center;
    position: relative;
    &::before {
      content: "W";
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      color: c.$whiteOpacity;
      @include m.textOpt(4em, 1em, 700);
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    @include m.indent($mr: 20px, $ml: 20px);
  }

  &-item {
    @include m.indent($mt: 20px, $mb: 20px);
  }

  &-img {
    background-color: c.$whiteOpacity;
    border-radius: 50%;
    @include m.size(62px, 62px);
    @include m.textOpt(2em, 1em, 700);
    @include m.indent(
      $pt: 14px,
      $pr: 14px,
      $pb: 14px,
      $pl: 14px,
      $mt: 0,
      $mr: auto,
      $mb: 10px,
      $ml: auto
    );
  }

  &-name {
    @include m.textOpt(1.2em, 1.6em, 700);
  }

  &-posts {
    @include m.indent($mt: 40px);
  }
}

.post {
  &-date {
    @include m.textOpt(0.6em, 1em, 400);

    span:first-child {
      @include m.indent($pr: 10px);
    }

    span:last-child {
      @include m.indent($pl: 10px);
    }
  }

  &-text {
    @include m.indent($mt: 10px, $mb: 10px);
  }

  &:nth-child(2n + 1) > &-content {
    background-color: c.$main-background;
    color: c.$white;
    text-align: right;
    @include m.indent($pt: 40px, $pr: 40px, $pb: 40px, $pl: 60px);

    span:first-child {
      border-right: 1px solid c.$white;
    }
  }

  &:nth-child(2n) > &-content {
    background-color: c.$white;
    color: c.$main-background;
    text-align: left;
    @include m.indent($pt: 40px, $pr: 60px, $pb: 40px, $pl: 40px);

    span:first-child {
      border-right: 1px solid c.$main-background;
    }
  }

  &-picture {
    @include m.size(100vw, 200px);

    img {
      @include m.size(100%, 100%);
    }
  }
}
