@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

.header {
  border-bottom: 2px solid c.$whiteOpacity;

  &-fixed {
    animation-duration: 1s;
    animation-name: header-animation-fixed;
    z-index: 99;
    background-color: c.$main-background;
    @include m.position($p: fixed, $t: 0, $l: 0, $r: 0);
  }

  &-static {
    animation-duration: 1s;
    animation-name: header-animation;
  }

  &-inner {
    @include m.flexContainer(row, space-between, center);
    @include m.indent($pt: 20px, $pr: 20px, $pb: 20px, $pl: 20px);
  }

  &-logo {
    display: inline;
    background-color: c.$blue;
    color: c.$white;
    box-shadow: 6px 6px 0 c.$white;
    @include m.indent($pt: 16px, $pr: 16px, $pb: 16px, $pl: 16px);
  }

  &-menu {
    background: transparent;
    border: none;
    font-size: 0;
    border-top: 2px solid c.$blue;
    border-bottom: 2px solid c.$blue;
    position: relative;
    @include m.size(30px, 2px);
    @include m.indent($pt: 12px, $pr: 0, $pb: 12px, $pl: 0);

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 12px;
      background-color: c.$white;
      @include m.position($p: absolute, $l: 2px, $t: 12px);
      @include m.size(26px, 1px);
    }

    @media (min-width: v.$tablet-width) {
      display: none;
    }
  }

  &-navigation {
    background-color: rgba(234, 228, 245, 0.5);
    opacity: 0;
    transition: all 0.44s linear;
    z-index: -99;
    @include m.size(100vw, 100vh);
    @include m.position($p: fixed, $t: -1000px, $r: 0, $b: 0, $l: 0);

    @media (min-width: v.$tablet-width) {
      position: static;
      background: transparent;
      z-index: auto;
      opacity: 1;
      @include m.size(auto, auto);
    }
  }

  &-navigation--show {
    opacity: 1;
    z-index: 99;
    @include m.position($p: fixed, $t: 0, $r: 0, $b: 0, $l: 0);
  }

  &-links {
    z-index: 100;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: c.$white;
    @include m.size($w: 280px);
    @include m.indent(
      $pt: 20px,
      $pr: 20px,
      $pb: 20px,
      $pl: 20px,
      $mt: 0,
      $mr: auto,
      $mb: 0,
      $ml: auto
    );

    @media (min-width: v.$tablet-width) {
      background-color: transparent;
      @include m.flexContainer($g: 15px);
      @include m.size(auto, auto);
    }
  }

  &-link {
    @include m.indent($mt: 5px, $mr: 0, $mb: 5px, $ml: 0);

    &--active {
      opacity: 0.6;
      pointer-events: none;

      a {
        pointer-events: none;
      }
    }

    a {
      color: c.$main-background;

      @media (min-width: v.$tablet-width) {
        color: c.$white;
      }
    }
  }
}

@keyframes header-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes header-animation-fixed {
  0% {
    top: -108px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
