@use "colors" as c;
@use "mixins" as m;

.header {
  @include m.indent($pt: 20px, $pr: 20px, $pb: 20px, $pl: 20px);
  border-bottom: 2px solid c.$white;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: inline;
    background-color: c.$blue;
    color: c.$white;
    box-shadow: 6px 6px 0 c.$white;
    @include m.indent($pt: 16px, $pr: 16px, $pb: 16px, $pl: 16px);
  }

  &-menu {
    background: transparent;
    border: none;
    font-size: 0;
    border-top: 2px solid c.$blue;
    border-bottom: 2px solid c.$blue;
    position: relative;
    @include m.size(30px, 2px);
    @include m.indent($pt: 12px, $pr: 0, $pb: 12px, $pl: 0);

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 12px;
      background-color: c.$white;
      @include m.size(26px, 1px);
    }
  }

  &-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(234, 228, 245, 0.5);
    opacity: 0;
    transition: all 0.44s linear;
    z-index: -99;
    @include m.size(100vw, 100vh);
  }

  &-navigation--show {
    opacity: 1;
    z-index: 99;
  }

  &-links {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: c.$white;
    @include m.size($w: 280px);
    @include m.indent(
      $pt: 20px,
      $pr: 20px,
      $pb: 20px,
      $pl: 20px,
      $mt: 0,
      $mr: auto,
      $mb: 0,
      $ml: auto
    );
  }

  &-link {
    @include m.indent($mt: 5px, $mr: 0, $mb: 5px, $ml: 0);

    &--active {
      opacity: 0.6;
    }

    a {
      color: c.$main-background;
    }
  }
}
