@use "mixins" as m;
@use "colors" as c;
@use "view" as v;

.hero {
  text-align: center;
  @include m.size($h: calc(100vh - 90px));

  &-title {
    color: white;
    @include m.textOpt(3em, 2.4em, 700);

    @media (min-width: v.$tablet-width) {
      @include m.textOpt(5em, 4em, 700);
    }
  }

  &-subtitle {
    color: c.$blue;
    @include m.textOpt(1.2em, 1em, 400);

    @media (min-width: v.$tablet-width) {
      @include m.textOpt(2em, 4em, 400);
    }
  }

  &-scroll {
    color: white;
    @include m.size($w: 200px);
    @include m.textOpt(0.8em, 4em, 700);
    @include m.position($p: absolute, $b: 50px, $l: 50%, $trX: true);

    div {
      border: 1px solid white;
      border-radius: 50%;
      transform: rotate(90deg);
      @include m.indent($mt: 0, $mr: auto, $mb: 0, $ml: auto);
      @include m.size(54px, 54px);

      a {
        color: white;
        @include m.textOpt(1em, 4em, 700);

        @media (min-width: v.$tablet-width) {
          @include m.textOpt(1em, 3.6em, 700);
        }
      }

      @media (min-width: v.$tablet-width) {
        @include m.size(60px, 60px);
      }
    }

    @media (min-width: v.$tablet-width) {
      @include m.textOpt(1em, 3em, 700);
    }
  }

  @media (min-width: v.$tablet-width) {
    @include m.size($h: calc(100vh - 108px));
  }
}
