@use "mixins" as m;
@use "colors" as c;

.hero {
  text-align: center;
  @include m.size($h: calc(100vh - 90px));

  &-title {
    color: white;
    @include m.textOpt(3em, 2.4em, 700);
  }

  &-subtitle {
    color: c.$blue;
    @include m.textOpt(1.2em, 1em, 400);
  }

  &-scroll {
    color: white;
    @include m.indent($mt: 210px, $mr: auto, $mb: 0, $ml: auto);
    @include m.size($w: 200px);
    @include m.textOpt(0.8em, 4em, 700);

    div {
      border: 1px solid white;
      border-radius: 50%;
      transform: rotate(90deg);
      @include m.indent($mt: 0, $mr: auto, $mb: 0, $ml: auto);
      @include m.size(54px, 54px);

      a {
        color: white;
        @include m.textOpt(1em, 4em, 700);
      }
    }
  }
}
