@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

.team {
  background-color: c.$white;

  &-title {
    &::before {
      content: "T";
      color: c.$mainOpacity;
    }
  }

  &-employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    @include m.indent($pt: 20px, $pb: 20px);

    @media (min-width: v.$tablet-width) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      @include m.indent($pt: 50px, $pb: 50px);
    }
  }
}

.employee {
  text-align: center;
  position: relative;

  &-img {
    @include m.size(100%, 300px);

    @media (min-width: v.$sm-desktop-width) {
      @include m.size(100%, 400px);
    }
  }

  &-description {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    @include m.size($w: calc(100% - 40px));
    @include m.indent($pr: 20px, $pl: 20px);
  }

  &-name {
    color: c.$blue;
    @include m.textOpt(1em, 2em, 700);

    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1.4em, 2em, 700);
    }
  }

  &-title {
    @include m.textOpt(0.6em, 2em, 700);
    
    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1em, 2em, 700);
    }
  }
}
