@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

.team {
  background-color: c.$white;

  &-title {
    &::before {
      content: "T";
      color: c.$mainOpacity;
    }
  }

  &-employees {
    @include m.flexContainer($fd: column, $ai: center, $g: 20px);
    @include m.indent($pt: 20px, $pb: 20px);

    @media (min-width: v.$tablet-width) {
      @include m.flexContainer($fd: row, $jc: center, $g: 20px, $fw: wrap);
      @include m.indent($pt: 50px, $pb: 50px);
    }
  }
}

.employee {
  text-align: center;
  position: relative;

  &-img {
    @include m.size(100%, 300px);

    @media (min-width: v.$sm-desktop-width) {
      @include m.size(100%, 400px);
    }
  }

  &-description {
    background-color: white;
    @include m.position($p: absolute, $b: -10px, $l: 50%, $trX: true);
    @include m.size($w: calc(100% - 40px));
    @include m.indent($pr: 20px, $pl: 20px);
  }

  &-name {
    color: c.$blue;
    @include m.textOpt(1em, 2em, 700);

    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1.4em, 2em, 700);
    }
  }

  &-title {
    @include m.textOpt(0.6em, 2em, 700);

    @media (min-width: v.$sm-desktop-width) {
      @include m.textOpt(1em, 2em, 700);
    }
  }
}
